
@import "../../variables";

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMd';
  src: url('../../assets/fonts/Roboto-Medium.woff2') format('woff2'),
  url('../../assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h2 {
  font-size: $fz-title;
  margin-bottom: 20px;
}

body {
  font: 16px/1.2 $roboto;
  margin: 0;
  color: #fff;
  background: $bg;
}

.app {
  grid-gap: 15px;
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

// default card
.card {
  @include card-wrap;
}

.random-item {
  min-height: 244px;
  margin-bottom: 16px;
}

// default list item
.list {
  position: relative;
  min-height: 352px;
  @include card-dflt;
  &-item {
    @include list-item;
    cursor: pointer;
  }
}




















